@{
  Layout = "_Layout";
}

@model Recipe.Models.Recipe;

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions)

  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { @type = "number" })

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>